.nintyWidth {
	width: 90%;
}

.nintyFiveWidth {
	width: 95%;
}

.fifteenWidth {
	width: 15% !important;
}

.eightyWidth {
	width: 80% !important;
}

.eightyWidthWithSpace {
	width: 78.75% !important;
}

.twentyWidthWithSpace {
	width: 18.75% !important;
}

.fiftyWidthWithSpace {
	width: 48.75% !important;
}

.zeroWidth {
	width: 0%;
}

.fiveLeftMargin {
	margin-left: 5%;
}

.zeroBottomMargin {
	margin-bottom: 0 !important;
}

.zeroTopMargin {
	margin-top: 0;
}

.zeroAutoMargin {
	margin: 0 auto;
}

.zeroBottomPadding {
	padding-bottom: 0;
}

.zeroWidthPadding {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.halfEmBottomMargin {
	margin-bottom: 0.5em !important;
}

.zeroPadding {
	padding: 0 !important;
}

.tiny {
	padding: 0em !important;
	margin: 0 auto !important;
	width: 90% !important;
}

.tinyMargin {
	margin-bottom: 0.25em !important;
}

.threeEmBottomMargin {
	margin-bottom: 3em;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clearBoth {
	clear: both;
	margin-top: 0.4em;
}

.breakWord {
	word-break: break-word;
}

.overflowScroll {
	overflow-y: scroll;
}

.largeModal {
	height: 60vh;
	width: 90vw;
}

.textAlignCenter {
    text-align: center;
}

code {
	max-width: 100%;
}

.modifiedTd {
	padding: calc(var(--spacing) / 8) var(--spacing);
}

input[type='checkbox'] {
	width: 1.5em;
	height: 1.5em;
}

.smallArticleTopPadding {
	padding-top: 2rem;
}

img {
	border-radius: 50%;
	height: 2em;
	/* width: 2em; */
	margin-top: 0.5em;
}

.stickyOnScroll {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 2.5%;
}

.stickyFooter {
	position: fixed;
	left: 0;
	bottom: 0;
	background: var(--background-color);
	width: 100%;

	padding-bottom: 2.5%;
	padding-top: 1%;
	/* padding-left: 5%;
	padding-right: 5%; */
}

.textAlignCenter {
	text-align: center;
}

.marginZeroAuto {
	margin: 0 auto;
}

@media (min-width: 576px) {
	.footerWidth {
		max-width: 510px;
	}
}
@media (min-width: 768px) {
	.footerWidth {
		max-width: 700px;
	}
}
@media (min-width: 992px) {
	.footerWidth {
		max-width: 920px;
	}
}
@media (min-width: 1200px) {
	.footerWidth {
		max-width: 1130px;
	}
}
