.zeroWidth {
	width: 0%;
}

.zeroWidthPadding {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.eightyWidth {
	width: 90%;
}

.zeroBottomMargin {
	margin-bottom: 0;
}

.zeroTopMargin {
	margin-top: 0;
}

.zeroBottomPadding {
	padding-bottom: 0;
}

.stickyFooter {
	position: fixed;
	left: 5%;
	bottom: 2.5%;
}
